 
<section>
    <% if user_signed_in? %>
      <span class="pull-right"><%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "btn btn-danger btn-md"  %></span>
    <% end %>
    <h2>Compare flights</h2>
<%= simple_form_for :request, method: :get do |f| %>
<div class="input-group input-group-lg row">

    
    <div class="form-group col-md-2">
      <%= label_tag :adults, nil, class: "sr-only" %><br>
      <%= select_tag :adult_count, options_for_select([ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]), prompt: 'How many adults', class: "form-control input-md", required: true %>
      <%#= text_field_tag :adult_count, nil, placeholder: 'How many adults', class: "form-control input-md", required: true %>
    </div>
    
    <div class="form-group col-md-2">
      <%= label_tag :child_count, nil, class: "sr-only" %><br>
      <%= select_tag :child_count, options_for_select([ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]), prompt: 'How many kids', class: "form-control input-md", required: true %>
      <%#= text_field_tag :child_count, nil, placeholder: 'How many kids', class: "form-control input-md", required: true %>
    </div>
    
    <div class="form-group col-md-2">
      <%= label_tag :origin, nil, class: "sr-only" %><br>
      <%#= text_field_tag :origin, nil, placeholder: 'From where', class: "form-control input-md" %>
      <%= select_tag :origin, options_for_select(@airports.collect{ |u|  [ u.location, u.iata ] }), prompt: "From where", class: "form-control input-md", required: true %>
    </div>
    
    <div class="form-group col-md-2">
      <%= label_tag :destination, nil, class: "sr-only" %><br>
      <%#= text_field_tag :destination, nil, placeholder: 'To where', class: "form-control input-md" %>
      <%= select_tag :destination, options_for_select(@airports.collect{ |u|  [ u.location, u.iata ] }), prompt: "To where", class: "form-control input-md", required: true %>
    </div>
    
    <div class="form-group col-md-2">
      <%= label_tag :date,  nil, class: "sr-only" %><br>
      <%= text_field_tag :date, nil, "data-provide" => 'datepicker', "data-date-format" => 'yyyy-mm-dd', placeholder: "Flight Date", class: "form-control input-md", required: true %>
    </div>
    <div class="form-group col-md-2"><br>
    
      <span class="input-group-btn"><%= submit_tag "Find Flights", class: "btn btn-primary btn-md fetchpage" %></span>
     
    </div>
    <% end %>
 
</div>

</section>

<aside class="progress">
 
    Loading…  <i class="hi hi-spinner hi-5x hi-pulse"></i>
      
 </aside>

<% unless @orrey.nil? %>
<article class="panel panel-default search-results">
<header class="panel-heading">
<h1 class="h3">Results</h1>
<%= will_paginate @orrey %>
</header>

 <section class="panel-body">
 <div class="row">

  <% @orrey.each do |trip| %>
    
   <div class="col-md-6">
      <article class="panel panel-info">
            
        <header class="panel-heading">
          <div class="row">
            <div class="col-md-6">
              <h4> Basis Code: <%= trip.pricing[0].fare[0].basis_code %></h4>
            </div>
            <div class="col-md-6">
               <h4>Price: <%= trip.sale_total %></h4> 
            </div>
          </div>   
        </header>
        <section class="panel-body">
   <% trip.slice.each do |sil| %>

            <ul class="list-group">    
               <li class="list-group-item">Total duration of the flight <i class='hi hi-clock-o hi-2x text-warning'></i>: <span class="badge"><%= sil.duration %> Minutes</span> </li>
               <li class="list-group-item">This flight has <i class='hi hi-exchange hi-2x text-warning'></i>: <span class="badge"><%= sil.segment.length %> segments</span> </li>
            </ul> 
        </section>
        <footer class="panel-footer">
          <div class="trip">   
             <p>Book flight easy  <i class="hi hi-arrow-right text-danger hi-lg"></i></p> 
           </div> 
        </footer>
        
     </article>
    </div>    
    
    <div class="col-md-6"> 
      <article class="panel panel-primary">
          <header class="panel-heading">
              <h1>Specific flight info</h1>
          </header>
    
     <% sil.segment.each do |seg| %>
       <% corrier = @airlines.find { |airline| airline.iata == seg.flight.carrier } %>
        <section class="panel-body">
        <div class="row">
           <div class="col-md-6">
              <h4>Airline: <%= corrier.name %></h4> 
            </div>
            <div class="col-md-6">
              <h4>Flight number: <%= seg.flight.number %></h4>
            </div>
        </div> 
        <ul class="list-group">
           <li class="list-group-item">Total duration  <i class='hi hi-hourglass-half hi-lg text-danger'></i>: <span class="badge"><%= seg.duration %> Minutes </span></li>
        </ul>   
      <% unless seg.connection_duration.nil? %>
        <ul class="list-group">
           <li class="list-group-item">Connection duration: <span class="badge"><%= seg.connection_duration %> Minutes</span> <i class="hi hi-anchor hi-spin hi-lg"></i></li>
        </ul>
      <% end %>
        <% seg.leg.each do |leg| %>
          <% origin = @airports.find { |airport| airport.iata == leg.origin } %>
          <% destination = @airports.find { |airport| airport.iata == leg.destination } %>
          
           <div class="trip">          
              <p>Origin: <%= origin.name %> Airport, <%= origin.city %>, <%= origin.country %> <i class="hi hi-plane hi-rotate-90 text-info hi-2x"></i></p>
           </div>
           <div class="trip">
              <p>Destination: <%= destination.name %> Airport, <%= destination.city %>, <%= destination.country %> <i class="hi hi-plane hi-rotate-270 text-success hi-2x"></i></p>
           </div>
           
           <div class="trip">           
              <p>Departure: <%= l leg.departure_time.to_datetime %></p>
           </div>  
        <% end %>  
     <% end %>
   <% end %>
      </section>
      <footer class="panel-footer">
            <div class="trip">
              <% if user_signed_in? %>
                 <span class="input-group-btn"><%= submit_tag "Book This Flight", class: "btn btn-primary btn-md pull-right" %></span>
              <% else %>
                 <span class="input-group-btn"><%= link_to "Login To Book", new_user_session_path, class: "btn btn-primary btn-md pull-right" %></span>
              <% end %>
            </div>  
       </footer>
    </article>   
   </div>
  <% end %>
   
 </div>
 </section>
</article>
<% end %>

